{% extends 'sidebarbase.html' %}

{% block content1 %}
   
    <div
      class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column"
      id="sidebar"
    >
    
      <ul class="nav flex-column text-white w-100">
        <a href="{% url 'bbmanager'%}" class="nav-link h3 text-white my-2">
          BLOOD BANK
        </a>
        <li class="nav-link">
          <i class="bx bxs-dashboard"></i>
          <span class="mx-2" ><a class="inner-anchor"  href="{% url 'bbdashbord' 'notall' %}"> Dashbord</a></span>
        </li>
        <li class="nav-link">
          <i class="bx bxs-home"></i>
          <span class="mx-2" ><a class="inner-anchor" href="{% url 'camps' %}"> Camps</a></span>
        </li>
        <li class="nav-link">
          <i class="bx bxs-store"></i>
          <span class="mx-2" ><a class="inner-anchor" href="{% url 'bloodstock' %}"> Blood Stock</a></span>
        </li>

        <li class="nav-link">
          <i class="bx bx-git-pull-request"></i>
          <span class="mx-2" ><a class="inner-anchor" href="{% url 'hospitalrequest' 'notall' %}"> Request</a></span>
        </li>
        <li  class="nav-link">
          <i class="bx bx-clinic"></i>
          <span class="mx-2" ><a class="inner-anchor" href="{% url 'hospitals' 'notall' %}"> Hospitals</a></span>
        </li>
        <li class="nav-link">
          <i class="bx bx-calendar-event"></i>
          <span class="mx-2" ><a class="inner-anchor" href="{% url 'events' 'notall' %}"> Events</a></span>
        </li>
        <li class="nav-link">
          <i class="bx bx-edit"></i>
          <span class="mx-2" ><a class="inner-anchor" href="{% url 'editaccount'  %}"> Edit Account</a></span>
        </li>
        
        <li class="nav-link">
          <i class="bx bx-log-out"></i>
          <span class="mx-2" ><a class="inner-anchor" href="{% url 'logout' %}" > Log Out </a></span>
        </li>
        <li id='logout-nav' class="nav-link" style="visibility: hidden;">
          <div>
         Are you sure you want to log out ?
         <br><br>
         <button type="button" class="btn btn-secondary">Yes</button>
         <button type="button" class="btn btn-success">No</button>

          </div>
        </li>
        
      </ul>
    </div>
    


    <!-- Main Wrapper -->
    <div class="p-1 my-container active-cont" style="background-color:lightblue">
      <!-- Top Nav -->

      
      <nav class="navbar top-navbar navbar-light bg-light px-5">
        <a class="btn border-0" id="menu-btn"><i class="bx bx-menu"></i></a>
        <img src="/static/images/{{ account.ProfilePic }}" id="profile-pic"> 
      </nav>
      
      {% block content %}


      {% endblock %}


    <!-- bootstrap js -->
    
{% endblock %}