{% extends 'donor/donor.html' %}

{% block content %}

<br>
<div class="container">
  <div class="row" style="column-gap: 70px;">
    <div class="card" style="width: 10rem;">

      <div class="card-body">
        <p class="card-text"><b>{{ request_no }}</b> <br>Request</p>
      </div>
    </div>
    <div class="card" style="width: 10rem;">

      <div class="card-body">
        <p class="card-text"><b>{{ accepted_no }}</b> <br>Accepted</p>
      </div>
    </div>

    <div class="card" style="width: 10rem;">

        <div class="card-body">
          <p class="card-text"><b>{{ accepted_no }}</b> <br>Pending</p>
        </div>
      </div>

    <div class="card" style="width: 10rem;">

        <div class="card-body">
          <p class="card-text"><b>{{ rejected_no }}</b> <br>Rejected</p>
        </div>
      </div>
   
  </div>

<br>
</div>
<table class="styled-table">
    <thead>
         <tr>
           <th>Donation Request</th>
           <th></th>
           <th></th>
          </tr>

{% include 'donor/donationrequestlist.html' %}

{% endblock %}