* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fff;
}

.side-navbar {
  width: 180px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: red;
  transition: 0.5s;
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}

.my-container {
  transition: 0.4s;
}

.active-nav {
  margin-left: 0;
}

/* for main section */
.active-cont {
  margin-left: 180px;
}

#menu-btn {
  background-color: red ;
  color: #fff;
  margin-left: -62px;
}

#profile-pic {
  margin-left: -300px;
  max-width: 300px; 
  height: 80px; 
  width: 80px;
  border-radius: 50%; 
  top: 10px;
  right: 0px;
}

.my-container input {
  border-radius: 2rem;
  padding: 2px 20px;
}
.inner-anchor{
  color: aliceblue; 
  text-decoration: black;
}
.container{
  margin-left: 40px;
}

.selected{
  border: 1px solid #888;
  background-color:blue;
  }
  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.styled-table{
  margin-left: 40px;
}
.styled-table tbody{
  background-color: white;
}
